*{
    margin: 0;
    padding: 0;
}
/* NAVBAR OPEN */
.navbar {
    padding: 0px;
    text-align: center;
    font-family: 'arial';
    position: sticky;   
    top: 0;                         
    /* display: inline-block; ZOO9MING OPTIONS */
    display: flex;
    color: black;
    cursor: pointer;
    /* overflow: hidden; */
    list-style-type: none;
    background: radial-gradient(100% 220.96% at 0% 100%, green 0%, #c0914a 70%, rgb(116, 168, 228) 100%) ;
    border-radius: 15px;
    max-width: 1315px;
    /* margin:  0 0 10px 8vw; */
    margin: auto;
    border: solid black ; /* ALL BORDER COLOR */
    /*box-shadow: gold 0 0 3em 0.1em;*/
    float: center;
    z-index: 10000000000000000000000000;
}

li {
    float: left;
}
li a {
    font-size: 24px;
    display: flex;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    border: rgb(11, 88, 15) solid 0.5px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 rgb(152, 51, 219);
    transition: ease-out 0.4s;
    z-index: 1;
    
}
/* li inside the ul, a tag, hover (does something?), :not(.active) not class=active*/
li a:hover:not(.active){
    background-color: skyblue;
    color: white;
    box-shadow:  inset 300px 0 0 0 #289fbd;
    transition: ease-out 0.4s;
    outline: none;
    border-radius: 20px;
}

.active{
    position: relative;
    /* margin: 10% auto; */
    /* width: 50%; */
    /* height: 400px; */
    background: linear-gradient(0deg, black, grey
    );
    border-radius: 15px;
    text-shadow: 0 0 1em white;
    text-shadow: 0 0 2em 0.5e gold;
    border: gold solid 1px;
    box-shadow: 0 0 2em 0.35em gold; 
    /* display: flex; */
    color: black;
    
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, rgb(68, 184, 230), rgb(224, 183, 105), rgb(120, 212, 120), rgb(127, 127, 219), rgb(206, 160, 168), gold, rgb(102, 241, 200), rgb(218, 136, 136));
    background-size: 400%;
    width: 100% ;
    height:  100%;
    z-index: -1;
    animation: activebutton 20s linear infinite;
    border: gold solid;
    border-radius: 10px;
}

@keyframes activebutton{
    0% {
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0 ;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter:blur(40px);
    fill-opacity: 5000;
    
}
/* NAVBAR CLOSE */

/* HOME PAGE OPEN */

.homeh1 {
    font-size: 4em;
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: relative;
    font-weight: 700;
    text-shadow: 0 0 1em white;
    text-shadow: 0 0 0.125em yellow;
}


.home_background {
    background-image: url(../images/LAKE2.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh
   
}

.letmeshareyoumyworld {
    margin: auto;
    padding: 14px 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

    text-shadow: 0 0 1em white; /* glowing thing on text */
    text-shadow: 0 0 0.125em rgb(218, 221, 42);
    
    top: 200px;
    background-color: #2dbce7;
    width: 40%;
    
    /* border-radius: 10px; */
    
    position: relative;
    display: block;
}

.homeh6 {
    text-align: center;
    position: relative;
    top: 250px;
    
}


.letmeshareyoumyworld {
    position: relative;
    margin: 10% auto;
    width: 50%;
    height: 50px;
    background: linear-gradient(0deg, rgb(74, 158, 184), rgb(98, 199, 131)
    );
    border-radius: 15px;
    
}

.letmeshareyoumyworld::before, .letmeshareyoumyworld::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, purple, orange, green, blue, pink, yellow,red, brown, indigo, gold);
    background-size: 400%;
    width: calc(100% + 5px); /* remove width height left top for shadow only*/
    height:  calc(100% + 5px);
    z-index: -111111;
    animation: animate 15s ease-in-out infinite;
}
@keyframes animate{
    0% {
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0 ;
    }
    100%{
        background-position: 0 0;
    }
}

.letmeshareyoumyworld::after{
    filter:blur(40px);
    fill-opacity: 5000000;
    

}

/* HOME PAGE CLOSE */

/* PERSONAL PAGE OPEN */
.portrait{
    border-radius: 250px;
    text-shadow: 1 1 1em white;
    box-shadow: 0 0 9999em gold;    
    
    /* display: block; */
    width: 400px;
    height: 300 px;

    float: left;
    /* float: center; */
    margin: 200px 0 10px 150px;
    /* margin-left: 200px;  */
    border: gold solid;

}



    .personalh1 {
        font-size: 4em;
        margin:0;
        padding: 0;
        text-align: center;
        font-family: 'arial';
        position: relative;
        font-weight: 700;
        text-shadow: 0 0 1em white;
        text-shadow: 0 0 0.125em yellow; 
}

  
#ToBeApplied {

    width: 670px;
    padding:30px;
    text-align: center;
    font-family: 'arial';
    font-size: 2em;
    /* float: left; */
    position: relative;
    margin: auto;
    margin-top: 200px;
    /* display: block; */
    z-index: -10; 
    /* border: solid black; */
}
#ToBeApplied td, th {
    padding: 2.5px;
}

.personal_background {
    background-image: url(../images/heavens_door.jpg);
    background-size: cover;
    background-repeat:repeat;
    height: 100hv
}

/* PERSONAL PAGE CLOSE */

/* CONTACT PAGE OPEN */
#contacttable th {
    color: rgb(7, 33, 104);
 }
 #contacttable tr:nth-child(1) { background-color: rgb(167, 71, 36);
 }
 #contacttable tr:nth-child(2) { background-color: rgb(219, 158, 136);
 }
 #contacttable  {
     width: 400px;
     margin:0;
     padding: 0;
     text-align: center;
     font-family: 'arial';
     position: relative;
     font-size: 2rem;
     top: 250px; 
     font-weight: lighter;
     text-shadow: 0 0 0.25em rgb(237, 237, 245); box-shadow: 0 0 1em rgb(6, 4, 41); 
     border: rgb(224, 73, 73) 4px solid; margin-left:auto;margin-right:auto;
    border-collapse: collapse;
 }
 #contacttable th, #contacttable td {
 border: 1px solid black;
 border-collapse: collapse;
 }
 #contacttable  th,td {
     padding: 20px;
 }
  .contacth1 {
     font-size: 4em;
     margin:0;
     padding: 0;
     text-align: center;
     font-family: 'arial';
     position: relative;
     font-weight: 700;
     color: var(--clr-neon);
     text-shadow: 0 0 1em white;
     text-shadow: 0 0 0.125em yellow;     
  }

 
.contact_background {
     /* background-image: url(../images/mr\ white.jpg); */
     /* background-size: cover; */
     /* background-repeat: repeat; */
     /* height: 100vh */
    background: radial-gradient(skyblue, rgb(52, 51, 143), rgb(87, 99, 207), grey)
 }
 
/* CONTACT PAGE CLOSE */

/* EDUCATIONAL PAGE OPEN */
img {
    /* color: white; */
    cursor: pointer;
    box-shadow: 0 0 1em rgb(214, 194, 79)
}
.primarylogo {
    width: 200px;
    border-radius: 100px
}
.anhs {
    width: 650px; 
    border-radius: 20px;
}
.seniorhighlogo{
    width: 200px;
    border-radius: 100px;
}

.csucollege{
    width: 650px;
    border-radius: 20px;
    height: 300px;
}
#schoolpic{
    border: black solid;
}

.educationalh1{
    font-size: 4em;
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: relative;
    font-weight: 700;
    color: var(--clr-neon);
    text-shadow: 0 0 1em white;
    text-shadow: 0 0 0.125em yellow;
 }

 #schoollevel{
     color: rgb(92, 49, 49);
 }
 

.educ {
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: relative;
    font-size: 1.5rem;
    margin-top: 9%;
    font-weight: lighter;
}
.educational_background {
    background: radial-gradient(skyblue, rgb(230, 104, 230), yellowgreen, blue);
}
    /* background-image: url(../images/bookds.jpg); */
    /* background-size: cover; */
    /* background-repeat: repeat; */
    /* height: 100vh */
/* } 
/* EDUCAITONAL PAGE CLOSE */

/* FAMILY PAGE OPEN */
.familytable{
    width: 350px; height: 30px;
    text-shadow: 0 0 0.25em rgb(152, 206, 166); ; border: rgb(57, 99, 18) 4px solid; 
    margin-right:  px;;
    margin-left: 600px; 
    margin-top: px;
    margin-bottom: 500px;
    border-collapse: collapse;
    background: lightblue;
    box-shadow: 0 0 1em rgb(206, 147, 206);
    /* float: left; */

    }
      .familytable th, .familytable td {
border: 1px solid black;
border-collapse: collapse;
font-size: 35px;
}
.familytable th, .familytable td {
    padding: 30px;}
.familytable th {
   color: black;
  
}
.familypic{
        border-radius: 20px;
        text-shadow: 1 1 1em white;
        box-shadow: 0 0 9999em gold;   
        height: 600px; 
        float: left;
        margin-left: 60px;
        height: 550px;
       
}
   
.familyh1 {
        font-size: 4em;
        margin:0;
        padding: 0;
        text-align: center;
        font-family: 'arial';
        position: relative;
        font-weight: 700;
        color: var(--clr-neon);
        text-shadow: 0 0 1em white;
        text-shadow: 0 0 0.125em yellow;     
    }

      /* h3 coor should be relative and 15%  */ 
.familyh3 {
        margin:0;
        padding: 0;
        text-align: center;
        font-family: 'arial';
        position: relative;
        font-size: 2rem;
        top: 15%; 
        font-weight: lighter;
    }
    .family_background {
        background: radial-gradient(rgb(236, 34, 236), rgb(168, 168, 184),rgb(101, 193, 224), skyblue, rgb(116, 172, 44));
        /* background-image: url(../images/golden.jpg); */
        /* background-size: cover; */
        /* background-repeat: repeat; */
        /* height: 100hv */
    }

/* FAMILY PAGE CLOSE */

/* OTHER PAGE OPEN */

.favvideo {
    text-shadow: 50rem; color: black; border: blue 4px solid;                                       
    padding: .0em 0em;
    cursor: pointer;
    box-shadow: 0 0 1em green;
    width: 700px;
}
.otherimg { /* all img or vid in this page*/
    text-shadow: 50rem; color: black; border: blue 4px solid;                                       
    padding: 0em 0em;
    cursor: pointer;
    box-shadow: 0 0 1em purple
}
.favoritesong {
    font-family: 'arial';
    ;
    font-size: 2.7rem;
    top: 15%; 
    font-weight: bold;
    color: black;
   float: center
   ;
    text-align: center;
    display: block;

    }

#contentcaption{
 font-size: 30px;
 color: blue;
 display: block;
 font-weight: lighter;
 padding: 10px;
margin-bottom: 10px;
}
.favoritemovie{
box-shadow: 0 0 1em red;
width: 330px;
}
.favoriteanimal {
box-shadow: 0 0 1em orange;
height: 400px;
}
.hobbies{
color: orange;
display: block;
}
/* .hobbieslist{} */
.motto {
color: blue;
}
.mottocaption{
color: black;
}
#listofhobby{
float: none;
font-size: 2rem;

}

#listofhobby{
padding: 2px;

}

.otherh1 {
    font-size: 4em;
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: relative;
    font-weight: 700;
    color: var(--clr-neon);
    text-shadow: 0 0 1em white;
    text-shadow: 0 0 0.125em yellow;
    
}


.other_background {
    background: linear-gradient(rgb(74, 74, 248), rgb(70, 149, 223),skyblue,rgb(233, 198, 133),  green, rgb(99, 99, 212) );
    /* background-image: url(../images/waves.jpg); */
    /* background-size: cover; */
    /* background-repeat: repeat; */
    /* height: 100vh */
}
/* OTHER PAGE CLOSE */


#contacttable::before, #contacttable::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px; 
    background: linear-gradient(45deg, purple, orange, green, blue, pink, yellow);
    background-size: 400%;
    width: calc(100% + 5px); /* remove width height left top for shadow only*/
    height:  calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;


}
@keyframes animate{
    0% {
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0 ;
    }
    100%{
        background-position: 0 0;
    }
}

#contacttable::after{
    filter:blur(40px);
    
}


/* FORGOT */

